<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Anzeige hinzufügen</title>
    <style>
        img {
            width: auto;
            height: 200px;
            object-fit: scale-down;
        }
    </style>
</head>
    <body>
    <section layout:fragment="content">
        <form action="/new-offer" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Bild hochladen:</label> <br>
                <input type="file" id="image" name="image" accept="image/*" required onchange="loadFile(event)">
                <img class="col-12 rounded mx-auto d-block" style="display: none" id="output"/>
            </div>
            <div class="form-group">
                <label for="title">Angebotstitel:</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="description">Angebotsbeschreibung:</label>
                <textarea class="form-control" id="description" rows="10" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="category">Kategorie auswählen:</label>
                <select id="category" class="form-control" required name="category">
                    <option th:each="category : ${T(com.finnbernhold.leihothek.offer.Categories).values()}"
                            th:value="${category}" th:text="${category.displayText()}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Emailadresse angeben:</label>
                <input type="email" id="email" class="form-control" placeholder="Email Adresse" required name="email">
            </div>
            <button type="submit" class="btn btn-primary">Angebot hochladen</button>
        </form>
        <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.style.display = "block";
                output.src = URL.createObjectURL(event.target.files[0]);
            }
        </script>
    </section>
    </body>
</html>
