<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section layout:fragment="content">
    <form method="post" action="/changePassword">
      <div class="input-group">
        <input class="form-control" placeholder="Altes Passwort" type="password" name="oldPassword">
        <input class="form-control" placeholder="Neues Passwort" type="password" name="newPassword1">
        <input class="form-control" placeholder="Neues Passwort bestätigen" type="password" name="newPassword2">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </section>

</body>
</html>