<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="form-group">
        <form method="post" action="/changePassword">
            <input class="form-control" placeholder="Altes Passwort" type="password" name="oldPassword">
            <input class="form-control" placeholder="Neues Passwort" type="password" name="newPassword1">
            <input class="form-control" placeholder="Neues Passwort bestätigen" type="password" name="newPassword2">
            <input type="submit" value="Speichern" class="btn btn-primary">
        </form>
    </div>

</section>

</body>
</html>