<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Anzeige bearbeiten</title>
</head>
<body>
<section layout:fragment="content">
  <form action="#" th:object="${blankOffer}" id="offer" method="post">
    <div class="form-group">
      <p>Titel: <input class="form-control" type="text" required th:field="*{title}" th:value="${offer.title()}"></p>
      <p>Beschreibung: <textarea class="form-control" rows="10" type="text" required th:field="*{description}"></textarea></p>
      <input class="btn btn-primary" type="submit" onclick="upload()" value="Speichern">
    </div>
  </form>
</section>
</body>
</html>