<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Benutzer bearbeiten</title>
</head>
<body>
<section layout:fragment="content">
    <form action="#" method="post">
        <div class="form-group">
            <input class="form-control" name="userName" type="text" disabled th:field="${editUser.username}"/>
            <p>Berechtigung:
                <select name="authority" class="role form-control">
                    <option value="ADMIN">Admin</option>
                    <option value="USER" selected>User</option>
                </select>
            </p>
            <input class="btn btn-primary" type="submit" value="Speichern">
        </div>
        <input type="hidden" th:field="${editUser.password}" name="password">

    </form>
</section>

</body>
</html>