<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .offer{
            height: 100%;
            width: 15rem;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="row gy-3" style="overflow: hidden;">
            <div class="col-lg-4" th:each="offer : ${offers}">
                <div style="margin-right:30px; height:100%; display: inline-block;">
                    <a th:href="@{/offer/__${offer.id()}__}" style="text-decoration: none;">
                        <div class="offer card" style="overflow: hidden;">
                            <img style="display: block;" src="https://img.ebay-kleinanzeigen.de/api/v1/prod-ads/images/ae/ae6c4618-f369-486e-b05b-4faa8979aa9f?rule=$_35.JPG" class="card-img" alt="no image">
                            <div class="card-body">
                                <h1 class="card-title" style="font-size: 35px;color: black;" th:text = "${offer.title()}"></h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>