<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .btn:hover {
            background-color: LightGrey;
        }
    </style>
</head>
<body>
  <section layout:fragment="content">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Berechtigung</th>
        <th>Aktionen</th>
      </tr>
        <tr th:each="user : ${simpleUsers}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.authority}"></td>

            <td nowrap>
                <div class="input-group">
                    <form method="post" th:action="@{/admin/users/__${user.userName()}__/delete}">
                        <button type="submit" class="btn"
                                onclick="return confirm('Are you sure you want to delete this user?');">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                    <form method="get" th:action="@{/admin/users/__${user.userName()}__/edit}">
                        <button type="submit" class="btn">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
  </section>

</body>
</html>